:root {
    --ff-primary: 'Poppins', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-white: #fff;
    --clr-black: #000;
    --clr-dark: #485665;
    --clr-gold: #DE9E36;
    --clr-green: #70A37F;
    --clr-purple: #C589E8;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
    line-height: 1.6;
    transition: 0.25s;
}

.landing-img-div {
    overflow: hidden;
    border-radius: 1rem;
}

.landing-img {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    border-radius: 1rem;
}

.landing-img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    cursor: pointer;
}